@import url(base.css);
body {
  background: url(../img/handmadepaper.png);
}

header {
  width: 1100px;
  height: 500px;
}
header h1 {
  margin-top: 50px;
  padding-left: 110px;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-size: 20rem;
  letter-spacing: -1.5rem;
  color: #5c003d;
}
header h2 {
  padding-left: 110px;
  font-size: 6rem;
  font-family: "AvenirNext-UltraLight", sans-serif;
}
header i {
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  font-size: 3rem;
  color: #CBAEC1;
}
header #good {
  font-size: 5.35rem;
  letter-spacing: -.2rem;
}
header ul:first-of-type {
  padding-top: 105px;
}
header ul {
  padding-top: 40px;
}
header .nav {
  float: right;
}
header li {
  display: inline;
  font-size: 2rem;
  font-family: "AvenirNext-UltraLight", sans-serif;
}

footer {
  position: fixed;
  left: 35%;
  bottom: 10px;
  font-family: "AvenirNext-Regular", sans-serif;
  font-size: .7rem;
}

/* LINKS */
li a:link {
  color: #000;
  text-decoration: none;
  padding: 12px 25px 12px 25px;
  background-color: #CBAEC1;
}
li a:visited {
  font-style: none;
  color: #000;
}
li a:hover {
  background-color: #5c003d;
  color: #CBAEC1;
}
li a.last:link {
  padding: 12px 16px 12px 16px;
}

footer a:link {
  color: #5c003d;
  text-decoration: none;
}
footer a:visited {
  color: #CBAEC1;
}

/* FONTS */
@font-face {
  font-family: 'AvenirNext-Regular';
  src: url("../fonts/AvenirNext-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'AvenirNext-UltraLight';
  src: url("../fonts/AvenirNext-UltraLight.ttf") format("truetype");
}
