body {
   font-family: 'AvenirNext-UltraLight', sans-serif;
}
li {
   display: inline-block;
   list-style: none;
   margin: 25px;
   font-size: 2rem;
}
#navcontainer {
   padding-top: 135px;
   position: fixed;
   right: 5%;
}
a:link {
color: #000;
text-decoration: none;
}
a:visited {
color: #000;
text-decoration: none;
}
li a:link {
color: #000;
text-decoration: none;
}
li a:visited {
font-style: none;
color: #000;
}
li a:hover {
font-size: 2rem;
transition: .25s;
}
li a:active {
font-style: none;
}
h1 {
   float: left;
   padding-top: 10px;
   padding-left: 10px;
   font-family: 'Avenir-Heavy';
   font-size: 20rem;
   letter-spacing: -1.5rem
}

/* FONTS YAY */
@font-face {
   font-family: 'AvenirNext-Regular';
   src: url('../fonts/AvenirNext-Regular.ttf') format('truetype');
}
@font-face {
   font-family: 'AvenirNext-Heavy';
   src: url('../fonts/AvenirNext-Heavy.ttf') format('truetype');
}
@font-face {
   font-family: 'AvenirNext-HeavyItalic';
   src: url('../fonts/AvenirNext-HeavyItalic.ttf') format('truetype');
}
@font-face {
   font-family: 'AvenirNext-UltraLight';
   src: url('../fonts/AvenirNext-UltraLight.ttf') format('truetype');
}
@font-face {
   font-family: 'AvenirNext-UltraLightItalic';
   src: url('../fonts/AvenirNext-UltraLightItalic.ttf') format('truetype');
}
@font-face {
   font-family: 'AvenirNext';
   src: url('../fonts/Avenir-Next.ttf') format('truetype');
}
