body {
   font-family: 'AvenirNext-UltraLight', sans-serif;
   background: url(../img/handmadepaper.png);
}
header {
   width: 1300px;
   height: 400px;
}
.title {
   float: left;
   width: 400px;
}
h1 {
   margin-top: 18px;
   margin-left: 40px;
   font-family: 'AvenirNext-Heavy';
   font-size: 10rem;
   letter-spacing: -1.5rem;
   color: #5c003d;
}
h2 {
   padding-left: 55px;
   font-family: 'AvenirNext-UltraLight';
   font-size: 3rem;
}
#good {
   font-size: 2.68rem;
}
.nav {
   padding: 150px 50px 0 0;
   float: right;
   text-align: right;
}
li {
   display: inline;
   list-style: none;
   font-size: 2rem;
   text-align: center;
}
.current {
   padding: 10px 22px 10px 22px;
   background-color: #5c003d;
   color: #CBAEC1;
   font-family: "AvenirNext-Heavy";
}
.current-last{
   padding: 10px 20px 10px 15px;
   background-color: #5c003d;
   color: #CBAEC1;
   font-family: "AvenirNext-Heavy";
}

/* LINKS */
a:link {
   color: #5c003d;
   text-decoration: none;
}
a:visited {
   color: #5c003d;
   text-decoration: none;
}
a:hover {
   color: #CBAEC1;
}
a.last:link {
   color: #000;
   text-decoration: none;
   padding: 10px 20px 10px 15px;
}
li a:link {
   color: #000;
   text-decoration: none;
   padding: 10px 25px 10px 25px;
}
li a:visited {
   font-style: none;
   color: #000;
}
li a:hover {
   background-color: #5c003d;
   color: #CBAEC1;
}

main {
   width: 300px;
   margin: auto;
}
p {
   font-family: 'Libre Baskerville', serif;
}
i {
font-family: 'AvenirNext-UltraLightItalic';
font-size: 2rem;
}

/* FONTS YAY */
@font-face {
   font-family: 'AvenirNext-Regular';
   src: url('../fonts/AvenirNext-Regular.ttf') format('truetype');
}
@font-face {
   font-family: 'AvenirNext-Heavy';
   src: url('../fonts/AvenirNext-Heavy.ttf') format('truetype');
}
@font-face {
   font-family: 'AvenirNext-HeavyItalic';
   src: url('../fonts/AvenirNext-HeavyItalic.ttf') format('truetype');
}
@font-face {
   font-family: 'AvenirNext-UltraLight';
   src: url('../fonts/AvenirNext-UltraLight.ttf') format('truetype');
}
@font-face {
   font-family: 'AvenirNext-UltraLightItalic';
   src: url('../fonts/AvenirNext-UltraLightItalic.ttf') format('truetype');
}
@font-face {
   font-family: 'AvenirNext-Italic';
   src: url('../fonts/AvenirNext-Italic.ttf') format('truetype');
}
