body {
   font-family: 'AvenirNext-UltraLight', sans-serif;
   background: url(../img/handmadepaper.png);
}
header {
   width: 1300px;
   height: 250px;
}
.title {
   float: left;
   padding-top: 30px;
   width: 400px;
}
h1 {
   float: left;
   margin-top: 20px;
   margin-left: 55px;
   font-family: 'Libre Baskerville';
   font-weight: 700;
   font-size: 6rem;
   letter-spacing: -.5rem;
   color: #5c003d;
   position: relative;
}
h2 {
   padding-left: 15px;
   font-family: 'AvenirNext-UltraLight';
   font-size: 2.5rem;
}
#good {
   font-size: 2.3rem;
   letter-spacing: -.1rem;
}
h3 {
   font-size: 3rem;
   font-family: 'Libre Baskerville';
}
.subhead {
   position: absolute;
   padding-top: 165px;
   left: 55px;
}
.nav {
   padding: 160px 110px 0 15px;
   float: left;
   text-align: left;
}
li {
   display: inline;
   list-style: none;
   font-size: 2rem;
   text-align: center;
}
.current {
   padding: 10px 22px 10px 22px;
   background-color: #5c003d;
   color: #CBAEC1;
   font-family: "Baskverville Libre";
   font-weight: 700;
}
.current-last{
   padding: 10px 20px 10px 15px;
   background-color: #5c003d;
   color: #CBAEC1;
   font-family: "AvenirNext-Heavy";
}

/* LINKS */
a:link {
   color: #5c003d;
   text-decoration: none;
}
a:visited {
   color: #5c003d;
   text-decoration: none;
}
a:hover {
   color: #CBAEC1;
}
a.last:link {
   color: #000;
   text-decoration: none;
   padding: 10px 20px 10px 15px;
}
li a:link {
   color: #000;
   text-decoration: none;
   padding: 10px 25px 10px 25px;
}
li a:visited {
   font-style: none;
   color: #000;
}
li a:hover {
   background-color: #5c003d;
   color: #CBAEC1;
}

main#one {
   width: 425px;
   margin-left: 167px;
   margin-top: 100px;
}
main#two {
   width: 425px;
   margin-left: 167px;
   margin-top: 100px;
}
main#three {
   width: 425px;
   margin-left: 167px;
   margin-top: 100px;
}
main#four {
   width: 425px;
   margin-left: 167px;
   margin-top: 100px;
}
main#five {
   width: 425px;
   margin-left: 167px;
   margin-top: 100px;
}
main#six {
   width: 425px;
   margin-left: 167px;
   margin-top: 100px;
}
main#seven {
   width: 425px;
   margin-left: 167px;
   margin-top: 100px;
}
main#eight {
   width: 425px;
   margin-left: 167px;
   margin-top: 100px;
}
main#nine {
   width: 425px;
   margin-left: 167px;
   margin-top: 100px;
}
main#ten {
   width: 425px;
   margin-left: 167px;
   margin-top: 100px;
}
#subhead {
   float: left;
}
p {
   font-family: 'Libre Baskerville', serif;
   line-height: 1.6rem;
}
i {
font-family: 'Libre Baskerville';
font-size: 1.5rem;
font-style: italic;
}

/* FONTS YAY */
@font-face {
   font-family: 'AvenirNext-Regular';
   src: url('../fonts/AvenirNext-Regular.ttf') format('truetype');
}
@font-face {
   font-family: 'AvenirNext-Heavy';
   src: url('../fonts/AvenirNext-Heavy.ttf') format('truetype');
}
@font-face {
   font-family: 'AvenirNext-HeavyItalic';
   src: url('../fonts/AvenirNext-HeavyItalic.ttf') format('truetype');
}
@font-face {
   font-family: 'AvenirNext-UltraLight';
   src: url('../fonts/AvenirNext-UltraLight.ttf') format('truetype');
}
@font-face {
   font-family: 'AvenirNext-UltraLightItalic';
   src: url('../fonts/AvenirNext-UltraLightItalic.ttf') format('truetype');
}
@font-face {
   font-family: 'AvenirNext-Italic';
   src: url('../fonts/AvenirNext-Italic.ttf') format('truetype');
}
