body {
   background: url(../img/handmadepaper.png);
}
header {
   width: 1300px;
   height: 250px;
}
.title {
   float: left;
   padding: 30px 0 0 15px;
   width: 400px;
}
h1 {
   float: left;
   margin-top: 20px;
   margin-left: 55px;
   font-family: 'Libre Baskerville', serif;
   font-weight: 700;
   font-size: 6rem;
   letter-spacing: -.5rem;
   color: #5c003d;
   position: relative;
   z-index: 50
}
h2 {
   padding-left: 10px;
   font-family: 'AvenirNext-UltraLight', sans-serif;
   font-size: 2.5rem;
}
#good {
   font-size: 2.3rem;
   letter-spacing: -.1rem;
}
h3 {
   font-size: 3rem;
   font-family: 'Libre Baskerville', serif;
}
.subhead {
   position: absolute;
   padding-top: 165px;
   left: 55px;
}
.nav {
   padding: 160px 110px 0 15px;
   float: left;
   text-align: left;
}
li {
   font-family: 'AvenirNext-UltraLight', sans-serif;
   display: inline;
   font-size: 2rem;
}
.current {
   padding: 10px 25px 13px 25px;
   background-color: #5c003d;
   color: #CBAEC1;
   font-family: "Baskverville Libre", serif;
   font-size: 2.27rem;
   font-weight: 700;
}
.current-last{
   padding: 7px 17px 12px 13px;
   background-color: #5c003d;
   color: #CBAEC1;
   font-family: 'Libre Baskerville', serif;
   font-size: 2.27rem;
   font-weight: 700;
}
p {
   font-family: 'Libre Baskerville', serif;
   line-height: 1.6rem;
}
i {
font-family: 'Libre Baskerville', serif;
font-size: 1.5rem;
font-style: italic;
color: #CBAEC1;
}
footer {
   text-align: center;
   position: fixed;
   left: 35%;
   bottom: 10px;
   font-family: 'AvenirNext-Regular', sans-serif;
   font-size: .7rem;
}

/* LINKS */
a:link {
   color: #5c003d;
   text-decoration: none;
}
a:visited {
   color: #5c003d;
   text-decoration: none;
}
a:hover {
   color: #CBAEC1;
}
li a:link {
   color: #000;
   text-decoration: none;
   padding: 10px 25px 10px 25px;
   background-color: #CBAEC1;
}
li a:visited {
   color: #000;
}
li a:hover {
   background-color: #5c003d;
   color: #CBAEC1;
   padding: 10px 25px 10px 25px;
}
li a.last:link {
   color: #000;
   text-decoration: none;
   padding: 10px 20px 10px 15px;
}

/* BODY COPY INDENTATION */
main {
   margin-top: 100px;
}
main#one {
   width: 375px;
   margin-left: 167px;
}
main#two {
   width: 345px;
   margin-left: 239px;
}
main#three {
   width: 350px;
   margin-left: 315px;
}
main#four {
   width: 350px;
   margin-left: 386px;
}
main#five {
   width: 350px;
   margin-left: 459px;
}
main#six {
   width: 325px;
   margin-left: 530px;
}
main#seven {
   width: 325px;
   margin-left: 603px;
}
main#eight {
   width: 325px;
   margin-left: 675px;
}
main#nine {
   width: 325px;
   margin-left: 747px;
}
main#ten {
   width: 325px;
   margin-left: 818px;
}

/* FONTS */
@font-face {
   font-family: 'AvenirNext-Regular';
   src: url('../fonts/AvenirNext-Regular.ttf') format('truetype');
}
@font-face {
   font-family: 'AvenirNext-UltraLight';
   src: url('../fonts/AvenirNext-UltraLight.ttf') format('truetype');
}
