@import 'base.css';

$font-stack1: 'Libre Baskerville', serif;
$font-stack2: 'AvenirNext-UltraLight', sans-serif;
$font-stack3: 'AvenirNext-Regular', sans-serif;

body {
   background: url(../img/handmadepaper.png);
}
header {
   width: 1100px;
   height: 500px;

   h1 {
      margin-top: 50px;
      padding-left: 110px;
      font-family:  $font-stack1;
      font-weight: 700;
      font-size: 20rem;
      letter-spacing: -1.5rem;
      color: #5c003d;
   }
   h2 {
      padding-left: 110px;
      font-size: 6rem;
      font-family: $font-stack2;
   }
   i {
      font-family:  $font-stack1;
      font-style: italic;
      font-size: 3rem;
      color: #CBAEC1;
   }
   #good {
      font-size: 5.35rem;
      letter-spacing: -.2rem;
   }
   ul:first-of-type {
      padding-top: 105px;
   }
   ul {
      padding-top: 40px;
   }
   .nav {
      float: right;
   }
   li {
      display: inline;
      font-size: 2rem;
      font-family: $font-stack2;
   }
}
footer {
   position: fixed;
   left: 35%;
   bottom: 10px;
   font-family: $font-stack3;
   font-size: .7rem;
}

/* LINKS */
li a {
   &:link {
      color: #000;
      text-decoration: none;
      padding: 12px 25px 12px 25px;
      background-color: #CBAEC1;
   }
   &:visited {
      font-style: none;
      color: #000;
   }
   &:hover {
      background-color: #5c003d;
      color: #CBAEC1;
   }
   &.last:link {
      padding: 12px 16px 12px 16px;
   }
}
footer a {
   &:link {
      color: #5c003d;
      text-decoration: none;
   }
   &:visited {
      color: #CBAEC1;
}
}

/* FONTS */
@font-face {
   font-family: 'AvenirNext-Regular';
   src: url('../fonts/AvenirNext-Regular.ttf') format('truetype');
}
@font-face {
   font-family: 'AvenirNext-UltraLight';
   src: url('../fonts/AvenirNext-UltraLight.ttf') format('truetype');
}
